ApplicationController/com.k21.app.application/EmployeeProfileService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://app.emp.k21.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app.emp.k21.com/">
  <xsd:complexType name="fetchEmployeeDetailsResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:employeeDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fetchAllEmployeesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fetchAllEmployees"/>
  <xsd:complexType name="fetchEmployeeDetails">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="employeeDTO">
    <xsd:sequence>
      <xsd:element name="department" type="xsd:string" minOccurs="0"/>
      <xsd:element name="designation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="employeeId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="salary" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="fetchEmployeeDetailsResponse" type="ns0:fetchEmployeeDetailsResponse"/>
  <xsd:element name="fetchAllEmployeesResponse" type="ns0:fetchAllEmployeesResponse"/>
  <xsd:element name="fetchAllEmployees" type="ns0:fetchAllEmployees"/>
  <xsd:element name="fetchEmployeeDetails" type="ns0:fetchEmployeeDetails"/>
</xsd:schema>